# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# System Specific Files
.DS_Store

# Data and output files
.ipynb_checkpoints
node_modules
package-lock.json
package.json

# Quarto
/.quarto/
/_site/

# Backup files
_backup/
